<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'TABS.HOME' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="car"></ion-icon>
      <ion-label>{{ 'TABS.TRIPS' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payment">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>{{ 'TABS.WALLET' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{ 'TABS.PROFILE' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
