<ion-content class="ion-padding">
  <div class="pana-admin-title">
    <h1>PEGASUS ADMIN</h1>
  </div>

  <div class="content-container">
    <swiper-container [pagination]="true" [autoplay]="{ delay: 3000 }">
      <swiper-slide>
        <ion-img src="../assets/imgs/main.svg"></ion-img>
      </swiper-slide>
      <swiper-slide>
        <ion-img src="../assets/imgs/main1.svg"></ion-img>
      </swiper-slide>
      <swiper-slide>
        <ion-img src="../assets/imgs/main2.svg"></ion-img>
      </swiper-slide>
    </swiper-container>

    <form [formGroup]="form" class="modern-form">
      <ion-item>
        <ion-button slot="start" class="country-code-btn" fill="clear" (click)="openCountrySearchModal()"
          [disabled]="isInTestMode">
          <ion-icon name="globe-outline"></ion-icon>
          {{ defaultCountryCode ||CountryCode }}
        </ion-button>
        <div id="sign-in-button"></div>
        <ion-input formControlName="phone" label="Mobile Number" labelPlacement="stacked" type="tel"
          [readonly]="isInTestMode" [attr.maxlength]="maxPhoneLength" (ionFocus)="Show()" (ionBlur)="Hide()"
          class="phone-input">
        </ion-input>
      </ion-item>


      <div class="test-mode-notice" *ngIf="isInTestMode">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>TEST VERSION: Only the default number can be used.</span>
      </div>
      <ion-text class="error" *ngIf="!form.get('phone').valid && form.get('phone').touched">
        <p *ngIf="form.get('phone').hasError('required')">
          Please enter the Mobile Number
        </p>
        <p *ngIf="form.get('phone').hasError('minlength') && !form.get('phone').hasError('required')">
          Please enter a valid Mobile Number
        </p>
      </ion-text>
      <ion-button expand="block" type="button" [disabled]="!form.valid || !CountryCode" (click)="signIn()"
        class="submit-button">
        <span *ngIf="!approve2">
          <ion-icon name="log-in-outline"></ion-icon>
          Continue
        </span>
        <ion-spinner *ngIf="approve2" name="crescent"></ion-spinner>
      </ion-button>

      <div class="divider">
        <span>OR</span>
      </div>

      <ion-button expand="block" (click)="signInWithGoogle()" [disabled]="defaultLoginConfig?.enabled"
        class="google-button" color="light">
        <ion-icon slot="start" src="assets/icon/google.svg"></ion-icon>
        Continue with Google
      </ion-button>
    </form>
  </div>
</ion-content>

<ion-footer>
  <!-- Add this at the end of your template -->
  <div id="recaptcha-container"></div>
</ion-footer>